.loaderWrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #eee;
    border-top: 6px solid #1c1e53;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}